In [1]:
# Start writing code here...
import pandas as pd
import numpy as np
import sys

## Sorting Dataframe in Python

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/cheikhb/Datasets/main/cars.csv")
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Sorting by values: .sort_values()

In&nbsp;pandas&nbsp;we&nbsp;can&nbsp;sort&nbsp;by&nbsp;values&nbsp;or&nbsp;by&nbsp;index.

## .sort_values()

In [3]:
df.sort_values(
    by='Year'
    )

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
9415,Mitsubishi,Sigma,1990,regular unleaded,142.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,20,16,436,2000
6514,Ford,LTD Crown Victoria,1990,regular unleaded,150.0,8.0,AUTOMATIC,rear wheel drive,4.0,NaN,Large,Wagon,22,15,5657,2000
6515,Ford,LTD Crown Victoria,1990,regular unleaded,150.0,8.0,AUTOMATIC,rear wheel drive,4.0,NaN,Large,Wagon,22,15,5657,2000
6516,Ford,LTD Crown Victoria,1990,regular unleaded,150.0,8.0,AUTOMATIC,rear wheel drive,4.0,NaN,Large,Wagon,22,15,5657,2000
6517,Ford,LTD Crown Victoria,1990,regular unleaded,150.0,8.0,AUTOMATIC,rear wheel drive,4.0,NaN,Large,Sedan,22,15,5657,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6490,Lexus,LS 460,2017,premium unleaded (required),386.0,8.0,AUTOMATIC,rear wheel drive,4.0,"Luxury,Performance",Large,Sedan,24,16,454,72520
6491,Lexus,LS 460,2017,premium unleaded (required),386.0,8.0,AUTOMATIC,rear wheel drive,4.0,"Luxury,Performance",Large,Sedan,24,16,454,78820
6492,Lexus,LS 460,2017,premium unleaded (required),359.0,8.0,AUTOMATIC,all wheel drive,4.0,"Luxury,Performance",Large,Sedan,23,16,454,75465
6344,Mitsubishi,Lancer,2017,regular unleaded,148.0,4.0,AUTOMATIC,front wheel drive,4.0,NaN,Compact,Sedan,34,27,436,18795
7391,Mitsubishi,Outlander,2017,premium unleaded (recommended),224.0,6.0,AUTOMATIC,all wheel drive,4.0,Crossover,Midsize,4dr SUV,27,20,436,31695

## By default sorting by values will sort the Dataframe in ascending order. We can change this by adding ascending parameter.

In [4]:
input_1 = 'Setting ascending to false will sort the DataFrame in descending order. '

In [5]:
df.sort_values(
    by='Year',
    ascending=False
    )

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
7376,Mitsubishi,Outlander Sport,2017,regular unleaded,168.0,4.0,AUTOMATIC,four wheel drive,4.0,Crossover,Compact,4dr SUV,27,22,436,27695
4885,Kia,Forte,2017,regular unleaded,164.0,4.0,AUTOMATIC,front wheel drive,4.0,Hatchback,Compact,4dr Hatchback,34,25,1720,21990
11342,Nissan,Versa Note,2017,regular unleaded,109.0,4.0,AUTOMATIC,front wheel drive,4.0,Hatchback,Compact,4dr Hatchback,39,31,2009,15480
1682,Mercedes-Benz,B-Class Electric Drive,2017,electric,177.0,0.0,DIRECT_DRIVE,front wheel drive,4.0,"Hatchback,Luxury",Compact,4dr Hatchback,82,85,617,39900
11343,Nissan,Versa Note,2017,regular unleaded,109.0,4.0,AUTOMATIC,front wheel drive,4.0,Hatchback,Compact,4dr Hatchback,39,31,2009,17980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8810,GMC,S-15,1990,regular unleaded,105.0,4.0,MANUAL,rear wheel drive,2.0,NaN,Compact,Regular Cab Pickup,25,21,549,2000
9988,Nissan,Stanza,1990,regular unleaded,138.0,4.0,MANUAL,front wheel drive,4.0,NaN,Compact,Sedan,26,19,2009,2000
9987,Nissan,Stanza,1990,regular unleaded,138.0,4.0,MANUAL,front wheel drive,4.0,NaN,Compact,Sedan,26,19,2009,2000
11205,Nissan,Van,1990,regular unleaded,106.0,4.0,MANUAL,rear wheel drive,3.0,NaN,Compact,Passenger Minivan,20,16,2009,2000
674,Pontiac,6000,1990,regular unleaded,140.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,27,17,210,2000

## We can add one of the pandas sorting algorithm wich are quicksort and mergesort.

Let's add the mergesort algorithm when sorting our DataFrame

In [6]:
df.sort_values(
    by='Year',
    ascending=False,
    kind='mergesort'
    )

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
32,FIAT,124 Spider,2017,premium unleaded (recommended),160.0,4.0,MANUAL,rear wheel drive,2.0,Performance,Compact,Convertible,35,26,819,27495
33,FIAT,124 Spider,2017,premium unleaded (recommended),160.0,4.0,MANUAL,rear wheel drive,2.0,Performance,Compact,Convertible,35,26,819,24995
34,FIAT,124 Spider,2017,premium unleaded (recommended),160.0,4.0,MANUAL,rear wheel drive,2.0,Performance,Compact,Convertible,35,26,819,28195
50,BMW,2 Series,2017,premium unleaded (recommended),335.0,6.0,AUTOMATIC,all wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,31,21,3916,46450
51,BMW,2 Series,2017,premium unleaded (recommended),335.0,6.0,AUTOMATIC,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Convertible,32,21,3916,49050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11188,Volkswagen,Vanagon,1990,regular unleaded,90.0,4.0,MANUAL,rear wheel drive,3.0,NaN,Large,Passenger Minivan,18,16,873,2000
11204,Nissan,Van,1990,regular unleaded,106.0,4.0,AUTOMATIC,rear wheel drive,3.0,NaN,Compact,Passenger Minivan,19,15,2009,2000
11205,Nissan,Van,1990,regular unleaded,106.0,4.0,MANUAL,rear wheel drive,3.0,NaN,Compact,Passenger Minivan,20,16,2009,2000
11214,Mitsubishi,Vanwagon,1990,regular unleaded,107.0,4.0,AUTOMATIC,rear wheel drive,3.0,NaN,Compact,Passenger Minivan,19,16,436,2000
11215,Mitsubishi,Vanwagon,1990,regular unleaded,107.0,4.0,AUTOMATIC,rear wheel drive,3.0,NaN,Compact,Cargo Minivan,20,18,436,2000

We can see there are differences when adding the mergesort algorithm.

## Sorting multiples columns

In [7]:
 df.sort_values(
     by=["Make", "Model"]
)[["Make", "Model"]]

        Make Model
2696   Acura    CL
2697   Acura    CL
2698   Acura    CL
2699   Acura    CL
2700   Acura    CL
...      ...   ...
11635  Volvo  XC90
11636  Volvo  XC90
11637  Volvo  XC90
11638  Volvo  XC90
11639  Volvo  XC90

[11914 rows x 2 columns]

We can sort different columns and add different sorting order in pandas

In [8]:
df.sort_values(
     by=["Make", "Model", "Year", "Popularity"],
     ascending = [True, False, True, True]
)[["Make", "Model", "Year", "Popularity"]]

        Make Model  Year  Popularity
11906  Acura   ZDX  2011         204
11907  Acura   ZDX  2011         204
11908  Acura   ZDX  2011         204
11909  Acura   ZDX  2012         204
11910  Acura   ZDX  2012         204
...      ...   ...   ...         ...
107    Volvo   240  1992         870
108    Volvo   240  1992         870
109    Volvo   240  1992         870
110    Volvo   240  1993         870
111    Volvo   240  1993         870

[11914 rows x 4 columns]

## Sorting by index: .sort_index()

To sort by index let's first assign our previsious sorted data to a new DataFrame called sort_df

In [9]:
sort_df = df.sort_values(
     by=["Make", "Model", "Year", "Popularity"],
     ascending = [True, False, True, True]
)[["Make", "Model", "Year", "Popularity"]]
sort_df

        Make Model  Year  Popularity
11906  Acura   ZDX  2011         204
11907  Acura   ZDX  2011         204
11908  Acura   ZDX  2011         204
11909  Acura   ZDX  2012         204
11910  Acura   ZDX  2012         204
...      ...   ...   ...         ...
107    Volvo   240  1992         870
108    Volvo   240  1992         870
109    Volvo   240  1992         870
110    Volvo   240  1993         870
111    Volvo   240  1993         870

[11914 rows x 4 columns]

Now let's sort our new DataFrame sort_df by index and see how it looks like

In [10]:
sort_df.sort_index()

          Make       Model  Year  Popularity
0          BMW  1 Series M  2011        3916
1          BMW    1 Series  2011        3916
2          BMW    1 Series  2011        3916
3          BMW    1 Series  2011        3916
4          BMW    1 Series  2011        3916
...        ...         ...   ...         ...
11909    Acura         ZDX  2012         204
11910    Acura         ZDX  2012         204
11911    Acura         ZDX  2012         204
11912    Acura         ZDX  2013         204
11913  Lincoln      Zephyr  2006          61

[11914 rows x 4 columns]

## Imputing missing values in pandas

Let's see if our dataset contains missing values

In [11]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

We can see there are missing values in columns: Engine Fuel Type, Engine HP, Engine Cylinders, Number of Doors, Market Category.

Let's print out the percentage of missing values for each columns

In [14]:
percent_missing = round(df.isnull().sum() * 100 / len(df), 2)
percent_missing

Make                  0.00
Model                 0.00
Year                  0.00
Engine Fuel Type      0.03
Engine HP             0.58
Engine Cylinders      0.25
Transmission Type     0.00
Driven_Wheels         0.00
Number of Doors       0.05
Market Category      31.41
Vehicle Size          0.00
Vehicle Style         0.00
highway MPG           0.00
city mpg              0.00
Popularity            0.00
MSRP                  0.00
dtype: float64

We can see that market Category column has the heighest percentage of missing values over 31%.

Pandas gives us many technics to deal with missing values.

We can fill missing values or just drop them using fillna or drop functions.

### Imputing missing values with zero

In [16]:
df_fill_na0 = df.fillna(0)
df_fill_na0.isnull().sum()

Make                 0
Model                0
Year                 0
Engine Fuel Type     0
Engine HP            0
Engine Cylinders     0
Transmission Type    0
Driven_Wheels        0
Number of Doors      0
Market Category      0
Vehicle Size         0
Vehicle Style        0
highway MPG          0
city mpg             0
Popularity           0
MSRP                 0
dtype: int64

We can see all missing values are imputed by 0.

## Fill NA Forward / Backward

### Fill NA forward: pad/fill

In [17]:
df_pad = df.fillna(method='pad')
df_pad.isnull().sum()

Make                 0
Model                0
Year                 0
Engine Fuel Type     0
Engine HP            0
Engine Cylinders     0
Transmission Type    0
Driven_Wheels        0
Number of Doors      0
Market Category      0
Vehicle Size         0
Vehicle Style        0
highway MPG          0
city mpg             0
Popularity           0
MSRP                 0
dtype: int64

There is no more missing value in the dataset. What does the pad method do ?

For each row with NA values, the values of the intermediate row at the top have been used for filling in pad method.

### Fill NA backward: bfill/backfill

In [18]:
df_back = df.fillna(method='backfill')
df_back.isnull().sum()

Make                 0
Model                0
Year                 0
Engine Fuel Type     0
Engine HP            0
Engine Cylinders     0
Transmission Type    0
Driven_Wheels        0
Number of Doors      0
Market Category      0
Vehicle Size         0
Vehicle Style        0
highway MPG          0
city mpg             0
Popularity           0
MSRP                 0
dtype: int64

### Dropping missing values

In other situations we can just drop missing values in the dataset. For exemple when the percentage of missing values is very small, we can think dropping missing values from the dataset or for just some columns, using the dropna() function.

In [19]:
df_dropna = df.dropna()
df_dropna.isnull().sum()

Make                 0
Model                0
Year                 0
Engine Fuel Type     0
Engine HP            0
Engine Cylinders     0
Transmission Type    0
Driven_Wheels        0
Number of Doors      0
Market Category      0
Vehicle Size         0
Vehicle Style        0
highway MPG          0
city mpg             0
Popularity           0
MSRP                 0
dtype: int64

In the real life, we use a specific imputation method for each column based on the problem and the reason on missing values.

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=b01381d9-6e40-4ad5-b07b-efdf9b194644' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>